In [1]:
import pandas as pd
import numpy as np
import requests
%pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (1.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.2)
Note: you may need to restart the kernel to use updated packages.

extract raw_data from website

In [3]:
raw_data=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
trt_table=pd.read_html(raw_data)
trt_df=pd.DataFrame(trt_table[0])
trt_df.columns=['POSTALCODE','BOROUGH','NEIGHBORHOOD']

drop non assigned cells

In [4]:
trt_df.drop(trt_df[trt_df['BOROUGH']=="Not assigned"].index,axis=0, inplace=True)

create a new table based on postal code

In [5]:
df =trt_df.groupby(['POSTALCODE','BOROUGH'])['NEIGHBORHOOD'].apply(', '.join).reset_index()

replace non assigned neighborhood with borough

In [6]:
df['NEIGHBORHOOD'].replace("Not assigned", df['BOROUGH'],inplace=True)

In [7]:
df.head(10)

  POSTALCODE      BOROUGH                                     NEIGHBORHOOD
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [8]:
df.shape

(103, 3)

In [16]:
df.to_csv(r'C:\Users\Mengyihu\Desktop.csv', index=False)